/* styles.css */
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    margin-top: 10%;
  }
  
  .input-field {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
    min-height: 200px; /* Set a minimum height for the input field */
    max-height: 400px; /* Set a maximum height for the input field */
    font-size: 14px;
    resize: none;
    border: 1px solid #ccc;
    overflow: auto; /* Add scrollbars if necessary */
  }
  
  .file-button-container {
    margin-top: 30px;
  }
  
  .choose-file-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc; /* Add borders to the button */
    background-color: transparent;
    cursor: pointer;
  }
  
  .submit-button {
    font-size: 24px;
    margin-top: 20px;
  }
  