<!DOCTYPE html>
<html>
<head>
  <title>Speech Generation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="body-container">
    <div class="container">
      <form method="POST" enctype="multipart/form-data">
        <textarea name="text" class="input-field" id="text-input" placeholder="Enter text"></textarea>
        <div class="file-button-container">
          <input type="file" name="file" id="file-input" style="display: none;">
          <label for="file-input" class="choose-file-button">Choose File</label>
        </div>
        <br>
        <input type="submit" value="Generate Speech" class="submit-button">
      </form>
      {% if audio_file %}
      <audio controls>
        <source src="{{ audio_file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <br>
      <a href="{{ audio_file }}" download>Download Audio</a>
      {% endif %}
    </div>
  </div>

  <!-- <script>
    const textArea = document.getElementById('text-input');

    textArea.addEventListener('input', function () {
      const words = this.value.split(' ').length;
      this.style.fontSize = `${Math.max(24 - words, 12)}px`;
    });
  </script> -->
</body>
</html>
